button {
  background: transparent;
  margin: 0;
  padding: 2px 4px;
}

button.focused {
  background: rgba(255, 255, 255, 0.3);
}

button.urgent {
  background: red;
}

button:hover {
  background: rgba(255, 255, 255, 0.8);
}
